<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Document Report Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
    <style>
        .dropzone .icon {
            color: grey; /* Set the icon color to grey */
        }
    </style>
</head>

<body>
    <div class="toast-container" id="toastContainer"></div>
    <div class="container">
        <div class="title">
            <div style="display:flex;flex-direction:column;align-items:flex-start;text-algin:left;">
                <h1>AI Document Report Generator</h1>
                <p>Upload the LOI, IME Reports and Report Template to get concise summaries quickly.</p>
            </div>
            <div class="logo">
                <h2 style="margin-right:20px;">Powered by</h2>
                <img src="{{ url_for('static', filename='assets/logo.png')}}" alt="MEDirect" style="max-width: 100px; height:auto; margin-bottom: 10px;">
            </div>
        </div>

        <form action="{{ url_for('upload') }}" class="dropzone" id="my-awesome-dropzone">
            <div class="dz-message">
                <div class="icon">
                    <i class="fas fa-cloud-upload-alt fa-3x"></i>
                </div>
                <div>
                    <span>Click to upload or drag and drop</span>
                </div>
            </div>
        </form>
        <div class="attached-documents">
            <div class="attached-documents-title">
                <div class="attached-documents-label">
                    <h3>Attached Documents</h2>
                    <p style="margin-top:-10px;">Files and assets that have been attached to this report.</p>                    
                </div>
                <div class="search-container">
                    <input type="text" id="searchInput" placeholder="Search Documents">
                    <button id="searchButton"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <!-- Select All checkbox -->
            <div id="selectAllContainer" style="display: flex; align-items: center; margin-left: 10px;margin-top: 30px; margin-bottom: -10px;">
                <input type="checkbox" id="selectAllCheckbox" style="margin-right: 10px;">
                <label for="selectAllCheckbox">Select All</label>
            </div>
            <ul id="fileList"></ul>
        </div>
        <div id="progressBarContainer">
            <div id="progressBar" class="progress-bar"></div>
        </div>
        <button id="generateReportButton">Generate Report</button>
        <button id="resetButton">Reset Application</button>
        <div id="downloadButtonContainer" style="display: none;">
            <button id="downloadButton"></button>
        </div>
        <div class="spinner-overlay" id="spinnerOverlay">
            <div class="spinner"></div>
            <div id="aiProcessingMessage" class="ai-processing-message">Report is being analyzed by AI. Please do not close the tab or take any actions that could interrupt the process. It will be completed shortly.</div>
        </div>            
    </div>
    <!-- Template for file list items -->
    <template id="fileItemTemplate">
        <li style="display: flex; flex-direction: row; align-items:center; padding: 10px">
            <input type="checkbox" class="include-in-process" style="margin-right: 10px;">
            <span class="filename"></span>
            <span class="file-size"></span>
            <span class="date-uploaded"></span>
            <span class="last-updated"></span>
            <button class="delete-button" style="margin-right: 10px;">Delete</button>
            <button class="edit-button">Edit</button>
        </li>
    </template>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>